<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
    <title>Title</title>

    <!-- Bootstrap-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">


<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">

    <!-- Custom styles -->

{#<link rel="stylesheet" href="{% static 'style.css' %}">#}
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row1">
                <div class="col-lg-12">
                    <h5 class="title">Интернет магазин "ЧЕРВЬ"</h5>
                    <h5 class="title">Оставьте свой email в форме ниже</h5>
                    <div>
                        <form action="" method="post">{%csrf_token%}
                            {{ form.as_p }}
                            <div>
                                <button type="submit" class="btn btn-primary btn-orange">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
