<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>

<meta charset="UTF-8">
    <title>Title</title>

    <!-- Bootstrap-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">


<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">

    <!-- Custom styles -->

<link rel="stylesheet" href="{%static 'style.css'%}">
    <style>

    </style>

</head>
<body>
    <header class="header">
        <div class="general-container">
        <div class="container top-container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="title">Интернет магазин "МАШКО"</h2>
                    <h3 class="title">Оставьте свой email в форме ниже</h3>
                    <div>
                        <form action="" method="post" class="form-inline text-center">{%csrf_token%}
                            <div class="form-group">
                                <label>Your phone or email: </label>
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                <label>Your name: </label>
                                {{ form.name }}
                            </div>
{#                            <div class="form-group">#}
{#                                <label>Your number phone: </label>#}
{#                                {{ form.phone_number }}#}
{#                            </div>#}
                            <div>
                                <button type="submit" class="btn btn-primary btn-orange">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>
